/* ======================== SITE BASE COLOUR =================================== */
.bg-primary {
    background-color: #084482 !important;
}
.btn-primary {
    border-color: #084482 !important;
    background-color: #084482 !important;
}
/* ========================= HEADER STYLING ==================================== */
html,body,.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', 'Sans-serif';
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.btn {
    border-radius: 27px;
    transition: transform 0.4s ease-in-out;
    padding: .5rem 1rem;
}
.btn:hover {
    transform: translateY(-7%);
}
#logolego {
    height: 2rem;
    width: 10rem;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    font-weight: bold;
}
div.dropdown-menu {
    background-color: #f7f3ef;
    border-top: 0;
    border-radius: 0;
    margin:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-item {
    color: #fff;
}
.nav-link {
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    padding-bottom: .3rem;
}
li.nav-item > .nav-link:hover {
    border-bottom: solid #fff .1rem;
    color: #fff;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to left, rgb(52, 58, 64, 1), rgb(52, 58, 64, .6) 70%);
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}
#top {
    background-color: #084482;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    background-image: linear-gradient(to left, #5a2bba 10%, #1ca4f6 100%);
    background-size: cover;
    background-position: center;
}
.sticky + #lm-content-house {
    /* padding-top: 2rem; */
}
.fa.fa-navicon {
    color: white;
    font-size: 1.7rem;
}

/* ============================= FOOTER STYLING ===================================== */

footer {
	margin: 0;
}
.twit {	
	padding-left: 15px;
}
#site-footer {
	background-color: #636567 !important;
	height: 10%;
	color: #f7f3ef !important;
	padding: .4rem 2rem;
}
h3 {
    font-size: 1.387em;
    font-weight: 400;    
}
 .social {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    color: #63656A;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    border-bottom: none;
    padding-top: 5px;
 }
 .margin-footer {
 	margin-top: 10px;
 }
#social-pad {
	float: right;
}
.linkaid {
	font-weight: bold;
}
.margin-around {
	margin: 10%;
}
#pcmn_div {
	margin-top: 20px;
	padding: 20px 30px 10px 30px;
	border-top: 2px solid #f7f3ef;
}
.pcmn {
	float: right;
}
.col-div {
	padding: auto;
	text-align: center;
}
.display-in-b {
    display: inline-block;
}
.a_font {
	color: #f7f3ef !important;
}
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
#footer-nav {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 10px;	
}

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-in:hover {
     color: #f39c12;
 }

 /* ======================= SHOWCASE PANE STYLING =============================== */
 .img-house {
     height: 35rem;
     width: 110%;
 }
 .header-btn {
    color: #fff;
    letter-spacing: 1px;
 }
 .header-btn:hover {
     color: #fff;
 }
.showcase-bt {
    text-transform: capitalize;
    line-height: 1em;
    font-size: 70px;
    color: #fff;
    font-weight: 100;
    animation-duration: 0.9s;
    position: relative;
    text-shadow: 0 4px 3px rgba(0,0,0,.4), 0 8px 13px rgba(0,0,0,.1), 0 18px 23px rgba(0,0,0,.1);
}

.jumbotron {
	/* background-image: url(../img/pp.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: linear-gradient(to left, #5a2bba 10%, #1ca4f6 100%);
    background-size: cover;
    margin-bottom: 0;
    padding: 0;
}

.plaster {
    padding: 6rem 2rem;
    padding-top: 3rem;
    padding-left: 4rem;
    text-align: left;
}
.jumbotron > .plaster > .container {
    /* background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.2) 70%); */
}
.jumbotron h1 {
	color: rgba(255,255,255,1) !important;
	text-shadow: 0 4px 3px rgba(0,0,0,.4),
				 0 8px 13px rgba(0,0,0,.1),
                 0 18px 23px rgba(0,0,0,.1);
}
.jumbotron p {
	/* color: #e0d8d8 !important; */
    font-weight: 400;
    border-radius: 20px;
    padding: .5rem 0;
    color: #fff !important
	/* font-family: Kurale-Regular; */
}
.jumbotron > .container {
	max-width: 100%;
    padding-bottom: 20px;
}
.lm-bs {
    margin-top: 1rem;
}

/* ================================ SERVICES STYLING ==================================== */
#services {
    background-color: rgba(243,243,243);
}
.lm-i-content {
    display: none;
    animation-delay: 0.1s;
}
.lm-service-img {
    height: 32rem;
    width: 80%;
    border-radius: 50%;
    /* box-shadow: 0 0 4px 3px rgba(0,0,0,.4), 
                0 0 8px 13px rgba(0,0,0,.1), 
                0 0 18px 23px rgba(0,0,0,.1); */
    margin-left: 4rem;
}
.lm-service-dimg {
    margin-right: 0;
    margin-left: 4rem;
}
.lm-service-h2 {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 300;
}
.lm-service-p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #777;
}
.lm-service-left {
    padding-left: 5rem; 
    padding-right: 0;
}
.lm-service-right {
    padding-left: 0; 
    padding-right: 5rem;
}
.lm-service-text {
    margin-top:4rem;
}
.lm-service-devlign {
    text-align: right;
}
.text-dblue {
    color: #084482 !important;
}

/* ========================= CONTACT STYLING ========================== */

#contact {
    background-color: #e9ebee;
}
.input-group-addon {
    width: 2rem;
    text-align: center;
    padding-top: 4rem;
}
.lm-fa {
    padding-top: 0.8rem;
}
.lm-fa-text {
    font-size: 3rem;
}
.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}
.p-pad7 {
    padding: 0 7rem;
}
.lm-attention {
    color: #084482;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
}
.lm-attention:hover {
    color: #fff;
    background-color: #084482;
    padding: .5rem;
    border-radius: 27px;
}

/* ========================== LITTLE TEAM STYLING ======================== */

.row-padding {
    padding: 0 5rem;
}
.team-card {
    transition: all 0.4s ease-in-out;
}
.team-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-h2 {
    margin-top: .8rem;
    font-size: 1.7rem;
    margin-bottom: 0;
}
.lm-bold {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.lm-bold:hover {
    border-bottom: solid #084482 .1rem;
}

/* ======================= MEDIA QUERIES ============================== */

@media only screen and (max-width: 768px) {
    html {
        text-align: center;
    }
/* Parallax scrolling most times doesn't work on mobile devices. This removes the parallax scroll effect  */
    .jumbotron {
      background-attachment: scroll;
    }
    .jumbotron > .plaster {
        padding: 2rem 1rem;
    }
    .py-5 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .lm-service-left,.lm-service-right {
        padding-left: 1rem; 
        padding-right: 0;
    }
    .lm-i-content {
        text-align: center;
        margin-top: 0;
    }
    .lm-service-img, .lm-service-dimg {
        margin-left: 0;
        margin-right: 0;
        height: 22rem;
        width: 20rem;
    }
    .lm-service-h2 {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }
    .lm-service-img {
        padding: 1rem;
    }
    .display-3 {
        font-size: 3.5rem;
    }
    .pt-5 {
        padding: 1rem;
    }
    .p-4 {
        padding-top: 0;
    }
    .lead {
        font-size: 1.1rem;
    }
    .lm-service-p {
        line-height: 2.1rem;
        font-size: 1.1rem;
    }
    #lms-4 {
        margin-top: 0;
    }
    #social-pad {
        float: none;
        text-align: center;
    }
    .display-in-b {
        display: block;
        text-align: center;
    }
    .lm-ad-display {
        text-align: center;
    }
    .team-card {
        margin-top: 1rem;
    }
    .team-card:hover {
        transform: none;
    }
    .row-padding {
        padding: 0 1rem;
    }
    .img-house {
        display:none;
    }
    .plaster {
        text-align: center;
    }
    .lm-attention:hover {
        color: #084482;
        background-color: #e9ebee;
        padding: 0;
    } 
    .lm-bold:hover {
        border-bottom: none;
    }
    .lm-pad-top {
        padding-top: 1.5rem !important;
    }
}
.trialStyle {
    background-color: rgb(8, 68, 130, 0.5) !important;
    /* background-color: rgba(10,20,40, 0.7) !important; */
    background-image: linear-gradient(rgb(78, 105, 162, 0.5), rgb(59, 89, 152) 50%);
}