/* ========================= HEADER STYLING ==================================== */
html,body,.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}
.btn {
    border-radius: 27px;
    transition: transform 0.4s ease-in-out;
    padding: .5rem 1rem;
}
.btn:hover {
    transform: translateY(7%);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
    font-weight: bold;
}
div.dropdown-menu {
    background-color: #f7f3ef;
    border-top: 0;
    border-radius: 0;
    margin:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-item {
    color: #fff;
}
li.nav-item > .nav-link:hover {
    color: #fff;
}

/* ============================= FOOTER STYLING ===================================== */

footer {
	margin: 0;
}
.twit {	
	padding-left: 15px;
}
#site-footer {
	background-color: #636567 !important;
	height: 10%;
	color: #f7f3ef !important;
	padding: 10px;
}
h3 {
    font-size: 1.387em;
    font-weight: 400;    
}
 .social {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    color: #63656A;
    width: 40px;
    height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    border-bottom: none;
    padding-top: 5px;
 }
 .margin-footer {
 	margin-top: 10px;
 }
#social-pad {
	margin-top: 30px;
}
.linkaid {
	font-weight: bold;
}
.margin-around {
	margin: 10%;
}
#pcmn_div {
	margin-top: 30px;
	padding: 30px 30px 10px 30px;
	border-top: 2px solid #f7f3ef;
}
.pcmn {
	float: right;
}
.col-div {
	padding: auto;
	text-align: center;
}
.a_font {
	color: #f7f3ef !important;
}
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
#footer-nav {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 10px;	
}

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-in:hover {
     color: #f39c12;
 }

 /* ======================= SHOWCASE PANE STYLING =============================== */
.showcase-bt {
    text-transform: capitalize;
    line-height: 1em;
    font-size: 70px;
    color: #fff;
    font-weight: 100;
    animation-duration: 0.9s;
    position: relative;
    text-shadow: 0 4px 3px rgba(0,0,0,.4), 0 8px 13px rgba(0,0,0,.1), 0 18px 23px rgba(0,0,0,.1);
}

.jumbotron {
	background-image: url(../img/pp.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0;
    padding: 0;
}

.jumbotron > .plaster {
	padding: 5rem 2rem;
}
.jumbotron > .plaster > .container {
    background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.2) 70%);
}
.jumbotron h1 {
	color: rgba(255,255,255,1) !important;
	text-shadow: 0 4px 3px rgba(0,0,0,.4),
				 0 8px 13px rgba(0,0,0,.1),
				 0 18px 23px rgba(0,0,0,.1);
    font-family: Sahitya-Bold;
}
.jumbotron p {
	color: #e0d8d8 !important;
	font-family: Kurale-Regular;

}
.jumbotron > .container {
	max-width: 100%;
    padding-bottom: 20px;
}
.lm-bs {
    margin-top: 1rem;
}

/* ================================ SERVICES STYLING ==================================== */
#services {
    background-color: rgba(243,243,243);
}
.lm-i-content {
    display: none;
    animation-delay: 0.1s;
}
.lm-service-img {
    height: 32rem;
    width: 30rem;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgba(0,0,0,.4), 
                0 0 8px 13px rgba(0,0,0,.1), 
                0 0 18px 23px rgba(0,0,0,.1);
    margin-left: 4rem;
}
.lm-service-dimg {
    margin-right: 0;
    margin-left: 4rem;
}
.lm-service-h2 {
    font-size: 4rem;
    line-height: 6rem;
}
.lm-service-p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #777;
}
.lm-service-left {
    padding-left: 5rem; 
    padding-right: 0;
}
.lm-service-right {
    padding-left: 0; 
    padding-right: 5rem;
}
.lm-service-text {
    margin-top:4rem;
}
.lm-service-devlign {
    text-align: right;
}
.text-dblue {
    color: #084482 !important;
}

/* ======================= MEDIA QUERIES ============================== */

@media only screen and (max-width: 768px) {
/* Parallax scrolling most times doesn't work on mobile devices. This removes the parallax scroll effect  */
    .jumbotron {
      background-attachment: scroll;
    }
    .lm-service-left,.lm-service-right {
        padding-left: 1rem; 
        padding-right: 0;
    }    
    .lm-service-devlign, .lm-service-text {
        text-align: center;
    }
    .lm-service-img, .lm-service-dimg {
        margin-left: 0;
        margin-right: 0;
        height: 28rem;
        width: 26rem;
    }
}